<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Exploring Angular Material <i class="material-icons">explore</i>
  </h1>
</div>
<mat-card>
  <mat-card-content>
    <h2>Select Skills</h2>

    <section>
      <mat-checkbox *ngFor = "let skill of userSkills" [(ngModel)]="skill.value">{{skill.name}}</mat-checkbox>
    </section>

    <section>
      Selected Skills:
      <div *ngFor = "let s of userSkills">
        <span *ngIf = "s.value">{{s.name}} &nbsp; </span>
      </div>
    </section>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <h2>How awesome is this?</h2>

    <section>
      <mat-slider thumbLabel min="0" max="1" step="0.05" value="0.1" [(ngModel)]="awesomeOpacity"></mat-slider>
    </section>

    <section>
      <div style = 'color: black;' [style.opacity] = awesomeOpacity>Awesome</div>
    </section>

      </mat-card-content>
</mat-card>
